:root {
    --default-transition-for-animation: all 0.5s ease;
    --max-width: 1440px;
}

/*
    FONTS
*/

@font-face {
    font-family: "Calibre-Medium";
    src: url("../fonts/Calibre-Medium.woff2") format("woff2"),
    url("../fonts/Calibre-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Calibre-Regular";
    src: url("../fonts/Calibre-Regular.woff2") format("woff2"),
    url("../fonts/Calibre-Regular.woff") format("woff");
}

@font-face {
    font-family: "Calibre-Semibold";
    src: url("../fonts/Calibre-Semibold.woff2") format("woff2"),
    url("../fonts/Calibre-Semibold.woff") format("woff");
}

@font-face {
    font-family: "Calibre-Semibold-Italic";
    src: url("../fonts/Calibre-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/Calibre-SemiboldItalic.woff") format("woff");
}

@font-face {
    font-family: "Calibre-Black-Italic";
    src: url("../fonts/Calibre-BlackItalic.woff2") format("woff2"),
    url("../fonts/Calibre-BlackItalic.woff") format("woff");
}
