.select2-selection--single {
    background-color: black !important;
    border: none !important;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #ffffff transparent
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #ffffff transparent transparent transparent
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    color: white;
}
.select2-results {
    font-family: Calibre-Regular, serif;
}
